
h1 {
  font-size: 36px;
  color: #2a6fdb;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 28px;
  color: #05da93;
  margin-top: 20px;
  margin-bottom: 8px;
  padding: 10px;
  margin: 10px;
 border: 10px solid #052455;
}

p {
    width: 600px;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
  border: 10px solid #ddb00e;
}
