
h1 {
  font-size: 36px;
  color: #2a6fdb;
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-size: 28px;
  color: #05da93;
  margin-top: 20px;
  margin-bottom: 8px;
  padding: 10px;
  margin: 10px;
 border: 10px solid #052455;
}

p {
  font-family: Arial, sans-serif;
    width: 600px;
    font-size: 16px;
     font-weight: bold;
  font-size: 18px;
  line-height: 1.6;
  color: #555;
  margin-bottom: 15px;
  font-style: italic;
  border: 10px solid #ddb00e;
}
img {
  border: 6px solid rgb(190, 71, 71);  
  border-radius: 10px;      
}

.row {
  display: flex;
  align-items: center;
  gap: 10px; /* space between text and button */
}

.like-btn {
  padding: 6px 12px;
  cursor: pointer;
}

#likeBtn {
  padding: 15px 15px;
  cursor: pointer;
}

